.about {
	overflow: hidden;

	@media (max-width: 768px) {
		display: none;
	}	

	&__box {
		padding: 1rem;

		@media (min-width: 768px) {
			padding: 3rem;

			.btn {
				margin-top: 2rem;
				display: inline-block;
			}
		}
	}

	&__title {
		font-weight: 600;
		margin-top: 0;

		@media (min-width: 768px) {
			font-size: 36px;
		}
	}

	&__img {
		
		@media (min-width: 768px) {
			padding-left: 1.5rem;
		}

		&--bg {
			height: 100%;

			@media (max-width: 768px) {
				min-height: 200px;
				background: no-repeat center center;
				background-size: cover;
			}
			
			&:before {
				left: -2rem;
			}

			@include has-box (
				$box-color: $gray-dark,
				$width: 95px,
				$height: 95px
			);
		}
	}

	&__row {
		position: relative;
		z-index: -1;

		@media (max-width: 768px) {
			display: block;
		}

		@media (min-width: 768px) {
			top: -4.5rem;
		}
	}

	&__wrap {

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__factbox {
		font-size: 14px;
		padding-top: 1rem;
		padding-bottom: 1rem;

		p {
			&:first-child {
				margin-bottom: 0;
			}
		}

		@media (max-width: 768px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		@media (min-width: 768px) and (max-width: 900px) {
			width: 33.3%;
			margin-left: 0!important;
		}

		@media (min-width: 768px) {
			padding-bottom: 3rem;
		}
	}
}