.contact {

	&--front {
		@media (max-width: 767px) {
			padding-top: 0!important;
		}
	}

	&__title {
		font-weight: 600;

		&:before {
			@media (min-width: 767px) {
				bottom: 1.5rem;
			}
		}

		@media (min-width: 767px) {
			padding-bottom: 3rem;
			font-size: 36px;
		}
	}

	&__intro {
		padding-bottom: 3rem;

		@media (min-width: 767px) {
			padding-bottom: 5rem;
		}
	}
}