.concept {

	@media (max-width: 767px) {
		padding-top: 0!important;
	}

	&__box {
		padding: 1rem 0rem;

		@media (min-width: 768px) {
			padding: 2.5rem;
		}

		.btn {
			margin-top: 2rem;
			display: inline-block;
		}
	}

	&__title {
		margin-top: 0;
		font-weight: 600;

		@media (min-width: 767px) {
			font-size: 36px;
		}
	}

	&__img {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__wrapper {

		@media (min-width: 767px) {
			padding-top: 4.5rem;
		}

		.sixcol {
			padding-top: .5rem;
			padding-bottom: .5rem;
			font-size: 14px;

			@media (max-width: 768px) {
				p {
					margin-bottom: 0;
				}
			}

			@media (min-width: 767px) {
				padding: .5rem 1rem;
			}
		}

		.sixcol > .flexible__title {
			line-height: 1;
    		margin-bottom: .5rem;
		}
	}
}