.cta {
	position: fixed;
	right: .5rem;
	z-index: 8999;
	color: $white;
	background: rgba($black, .8);
	bottom: 5rem;
	padding: .5rem .8rem;
	transition: all ease .3s;
	overflow: hidden;

	&:hover {
		background: rgba($white, .8);

		.cta__link {
			color: $black;
		}
	}

	@media (min-width: 768px) {
		min-width: 161px;
	}

	&--popup {
		background: $green-dark;
		bottom: 8.2rem;

		@media (max-width: 768px) {
			padding: .5rem .8rem;
		}

		&:hover {
			background: $green-dark;

			.cta__link {
				color: $white;
			}
		}
	}

	&__link {
		color: $white;
		font-weight: 500;
		font-size: 16px;
		transition: all ease .3s;
	}

	&__text {
		display: inline-block;

		&--popup {

			.icon {
				transform: translateY(-50%) rotate(0deg);
				top: 1.3rem;
				position: absolute;
				transition: all ease .3s;
			}

			&.active > .icon { 
				transform: translateY(-50%) rotate(225deg);
				top: 1.1rem;
			}
		}

		@media (max-width: 768px) {
			span {
				display: none;
			}

			.icon {
				padding-right: 0!important;

				&--popup {
					right: .8rem;
				}
			}
		}

		.icon {
			font-size: 1.8rem;
			padding-right: .5rem;
			vertical-align: middle; 
			font-style: initial;
		}
	}
}