// Embeds responsive

.embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  &__item > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  &--16-9 {
    padding-bottom: 56.25%;
    position: relative;
  }

  &--4-3 {
    padding-bottom: 75%;
    position: relative;
  }

  &__link {
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mejs-controls {
  display: none !important;
    visibility: hidden !important;
}

.mejs-overlay-button {
  background: rgba($black, .5)!important;
  border-radius: 50%;
  position: relative;
  width: 70px!important;
    height: 70px!important;

  &:after {
    position: absolute; 
    background: url(../img/_ionicons_svg_md-play.svg) no-repeat center center;
    content: '';
    width: 26px;
    height: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } 
}