.employee {

	&--front {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__title {
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: 500px) and  (max-width: 768px) {
			margin-left: -.5rem;
			margin-right: -.5rem;
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		min-height: 250px;
		background-repeat: no-repeat;
		background-position: center center; 
		background-size: cover;
		position: relative;
		transition: all ease .3s;
		width: 100%;

		@media (min-width: 500px) and  (max-width: 768px) {
			width: calc(50% - 1rem);
			margin: .5rem;
		}

		@media (max-width: 1024px) {
			background-blend-mode: multiply;
		}

		@media (max-width: 500px) {

			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:hover {
			@media (min-width: 1024px) {
				background-blend-mode: multiply;
			}

	  		.employee__content { 
	  			opacity: 1;
	  		}
  		}

  		@media (min-width: 767px) {
  			width: calc(33.33% - 2rem);
  			margin: 1rem;
  		}
	}

	&__content {
		transition: all ease .3s;
		padding: 2rem 1rem;

		@media (min-width: 768px) and (max-width: 1024px) {
			font-size: 14px;
		}

		@media (min-width: 1025px) {
			opacity: 0;
		}
	}

	&__name {
		text-transform: uppercase;
		margin-top: 0;
	}
}