.flexible {

	&__img {
		background-position: left center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    min-height: 240px;

	    @media (min-width: 768px) {
	    	background-position: center center;
	    	min-height: 260px;
	    }
	}

	&__title {
		margin-top: 0;
		font-size: 14px;
		margin-bottom: 0;

		@media (min-width: 768px) {
			line-height: 1;
    		margin-bottom: .5rem;
    	}
	}

	&__text {
		font-size: 14px;
	}
}