/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */


.footer {

	  &__item {
	  	padding-bottom: 3rem;

	  	&:last-child {
	  		padding-bottom: 0;
	  	}

		@media (min-width: 767px) {
			padding-bottom: 0rem;

	  		&:last-child {
	  			margin-left: 4.15%;
	  		}
	  	}
	  	

	  	a {
	  		transition: all ease .3s;
	  		text-decoration: none;

	  		&:hover {
	  			
	  		}
	  	}

	  	  
	  	&.large {

	  		@media (min-width: 767px) {
	  			text-align: center;
	  			margin-left: 4.15%;
	  		}
	  	}

	  	&--title {
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 1rem;
		}

		&--content {
			font-size: 14px;

			a {
				&:hover {
					i {
						background: $white;
						color: $gray;
					}
				}
			}

			p {
				margin-bottom: 0;
			}

			i {
				font-size: 26px;
				margin-right: .5rem;
				margin-bottom: .5rem;
				border: 3px solid $white;
				width: 3rem;
				height: 3rem;
				text-align: center;
				line-height: 1.6;
				transition: all ease .3s;

				&:before {

				}
			}
		}
	}
}
