//mailchimp

#mc4wp-form-1 {
	.mc4wp-form-fields {
		display: flex;
		align-items: center;
	}

	.mc4wp-form-email {
		flex: 1;

		input {
			padding: 0.8rem 1rem;
			border: 3px solid $white;
			width: 100%;
			background: transparent;
			color: $white;
			border-right: none;
			outline: none;
			transition: all ease .3s;
			line-height: 100%;
			-webkit-border-radius:0;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
    		-o-appearance: none;

			&:focus {
				background: $white;
				color: $gray;
			}
		}
	}

	.mc4wp-form-submit {
		input[type="submit"] {
			padding: .34rem 1rem;
		}

		input[type="submit"]::-moz-focus-inner { 
			border: 0; padding: 0; margin:0; 
		}

		input {
			background: transparent;
			border: 3px solid $white;
			font-size: 36px;
			line-height: 100%;
			outline: none;

			&:hover {
				background: $white;
				color: $gray;
			}
		}
	}
}

.mc4wp-form ::-webkit-input-placeholder { /* WebKit browsers */
	color: $white;
}

.mc4wp-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: $white;
	opacity: 1;
}

.mc4wp-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: $white;
	opacity: 1;
}

.mc4wp-form :-ms-input-placeholder { /* Internet Explorer 10+ */
	color: $white;
}



#wpcf7-f70-p174-o1 {
	@media (min-width: 768px) {
		padding-top: 3rem;
	}
}


//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		background: $white;
		color: $black!important;
		margin: 0 !important;
		display: inline-block;
		padding: .6rem 2.5rem !important;
		border: .2rem solid $black!important;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease;
		width: 100%!important;
		outline: none;

		&:hover {
			background: $black;
			color: $white!important;
		}
	}

	// Submit wrapper
	&_footer {

	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		width: 100% !important;
		padding: .5rem;
		line-height: 1 !important;
		background: $white;
		border: none;
		border: 0.2rem solid $black;
		-webkit-appearance: none;
		border-radius: 0;
		transition: all 0.3s ease;
		color: $gray;

		&:hover {
			
		}

		&:focus, &:active, &:visited {
			color: $black;
			outline: none;
		}
	}

	textarea {
		min-height: 200px;
		padding: 8px 5px!important;
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gfield_select {
	width: 100%;
	border: 3px solid $black;
	color: $gray;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	background: $white;
	-webkit-border-radius:0; 
   	border-radius:0;
   	opacity: 1;
	padding: 4px 5px!important;
   	position: relative;
	background: url(../img/arrow-down-b.png) right $white;
	background-repeat: no-repeat;
	text-overflow: '';
	background-size: 1rem 1rem;
	padding-right: 1.5rem!important;
	background-position-x: 98%;
}

input:focus::-webkit-input-placeholder {
    	color: $black;
	}

textarea:focus::-webkit-input-placeholder {
	color: $black;
}

textarea:-ms-input-placeholder {
	color: $black;
}


input:-ms-input-placeholder {
	color: $black;
}

.gf_left_third, 
.gf_middle_third,
.gf_right_third {
	@media (min-width: 0px) and (max-width: 767px) {
		width: 100%!important;
	}

	@media (min-width: 768px) {
		width: calc(33.58% - .5rem)!important;
	}
}

.gf_left_third,
.gf_middle_third {
	@media (min-width: 768px) {
		margin-right: .5rem;
	}
}

.gform_confirmation_message {
	text-align: center;
	float: left;
	width: 100%;
}

.gfield_checkbox {
	position: relative;

	input {
		margin-top: 0;
		position: relative;
		outline: none;
		margin-top: 0!important;
		-webkit-appearance: none;

		&:before {
	  		content: '';
	  		position: absolute;
		  	display: none;
		}

		&:after {
			position: absolute;
			width: 20px;
			height: 20px;
			content: '';
			background: $white;
			left: 0;
			top: -10px;
			transition: all ease .3s;
			border: .2rem solid black;
		}
	}

	input[type="checkbox"]:checked {
		&:before {
			display: block;
			left: 8px;
    		top: -6px;
			width: 5px;
			height: 10px;
			border: solid $black;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: 100;
		}

		&:after {
			
		}
	}

	input[type="checkbox"]:checked + label {
		color: $black;
	}

	label {
		font-weight: 400!important;
		color: $gray;
		padding-left: 1.5rem!important;
		z-index: 1000;
    	position: relative;
	}
}

.gchoice_1_15 {
	overflow: visible!important;
}