/**
 * Gallery
 **/


.gallery {

	&__list {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	&__item {
		width: 100%;
		margin: 1rem;
		min-height: 250px;
		position: relative;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $gray;
			content: '';
			opacity: 0;
			transition: all ease .3s;
		}

		&:after {
			content: '+';
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white;
			font-size: 3rem;
			opacity: 0;
			transition: all ease .3s;
			border: 4px solid $white;
			padding: .8rem;
		}

		&:hover {
			&:before {
				opacity: .8;
			}

			&:after {
				opacity: 1;
			}
		}

		@media (min-width: 500px) and (max-width: 768px) {
			width: calc(50% - 2.1rem);
		}

		@media (min-width: 768px) and (max-width: 900px) {
			width: calc(33.33% - 2.1rem);
			margin: 1rem;
		}

		&--1, &--3 {
			@media (min-width: 900px) {
				width: calc(31.33% - 2.1rem);
			}
		}

		&--2 {
			@media (min-width: 900px) {
				width: calc(37.44% - 2.1rem);
			}
		}

		&--4, &--6 {
			@media (min-width: 900px) {
				width: calc(41.6666667% - 2.1rem);
			}
		}

		&--5 {
			@media (min-width: 900px) {
				width: calc(16.6666667% - 2.1rem);
			}
		}
	}

	&__link {

	}

	&__caption {

	}
}