/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {  
  position: relative;
  padding: 1rem 0rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: white;

  @media (min-width: 768px) {
    padding: 1.5rem 0rem;
  }

  &__container {
    position: relative;
  }
  
  &__logo {
    display: block;
    float: left;
  
    img {
      width: 135px;
      height: 40px;

      @media (min-width: 768px) {
        width: 160px;
        height: 47px;
      }
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav {
  ul.main-nav {
    list-style: none;
    position: absolute;
    display: none;
    z-index: 100; 
    width: 100%;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    @extend .clearfix;

    li {
      display: block;
      
      a {
        color: $gray;
        display: block;
        padding: 0.5rem 1rem;
        transition: all ease .3s;
        font-size: 18px;

        &.is-active {
          color: $black;
          font-weight: 600;

          &:before {
            height: calc(100% - 1rem);
          }
        }

        &:link, &:active, &:visited {
          
        }

        &:hover {
          text-decoration: none;
          color: $black;
        }
      }

      &.current_page_parent {
        a {
          color: $black;

          &:before {
            height: calc(100% - 1rem);
          }
        }
      }
    }
    ul.sub-menu {
      display: none;
    }
  }
}

@media (min-width: 767px) {
  nav ul.main-nav {
    position: relative;
    display: none;
    width: auto;
    top: 3rem;
    // display: block;
    top: 80px;

    li {
      
      a {
        padding: .8rem 3rem;
        font-weight: 600;
        font-size: 36px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 1.5rem;
          height: 0;
          width: 1px;
          background: $black;
          top: .5rem;
          transition: all ease .3s;
        }

        
        &:hover {
          &:before {
            height: calc(100% - 1rem);
          }
        }
      }
    }

    ul.sub-menu {
      padding: 0;
      position: absolute;
      top: 100%;

      li {
        float: none;
        position: relative;
        text-align: left;

        a {
          padding: 0.5rem 1rem;
          color: $white;

          &:link, &:active, &:visited {
            color: $white;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
      ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
  nav ul.main-nav li:hover > ul.sub-menu {
    display: block;
  }
}

.close-menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%; 
   height: 100%;
   visibility: hidden;
   z-index: 99;

   &.is-fixed {
    visibility: visible;
   }
}