/********************HOME********************/

/*
 * This file should house all of the styles for whatever
 * file you decide to use for your home page template.
 * This could be front-page.php, home.php, or index.php.
 */

.home {

  &__controls {
  	float: none;
  	padding: 3rem 0rem;

  	@media (max-width: 767px) {
  		flex-direction: column;
  		width: 100%;
    	align-items: center;
  	}

  	&--front {
  		float: left;
  	}
  }

  &__filter {
  	padding: .5rem;
  	margin: 0rem 2rem;
  	position: relative;
  	transition: all ease .3s;

  	span {
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			background: $black;
			width: 0;
			height: 2px;
			transition: all ease .3s;
			right: 0;
	  	}

	  	&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			background: $black;
			height: 0;
			width: 2px;
			transition: all ease .3s;
	  	}
  	}

  	@media (max-width: 767px) {
  		margin: 0;
  		display: block;
  	}

  	@media (min-width: 768px) {

  		&:first-child {
  			margin-left: 0;
  		}
  	}

  	&:hover {
  		cursor: pointer;
  	}

  	&:before {
		content: '';
		position: absolute;
		top: 0;
		background: $black;
		width: 0;
		height: 2px;
		transition: all ease .3s;
		left: 0;
  	}

  	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		background: $black;
		height: 0;
		width: 2px;
		transition: all ease .3s;
  	}
  }

  &__row {
  	float: left;
  	width: calc(100% + 1rem);
  	display: flex;
    flex-wrap: wrap;
  	margin-left: -.5rem;
  	margin-right: -.5rem;
  }

  &__content-wrap {
  	padding: 1rem;
  	transition: all ease .3s;
  	position: relative;
  	z-index: 20;

  	@media (min-width: 768px) {
  		padding: 1.5rem;
  	}
  }

  &__post {
  	display: block;
  	background: no-repeat center center;
  	background-size: cover;
  	min-height: 200px;

  	@media (max-width: 767px) {
  		margin-bottom: 1rem;
  		margin: .5rem;
  		width: calc(50% - 1rem);

  		&:before {
  			display: none;
  		}
  	}

  	&:hover {

  		&:before {
  			opacity: .8;
  		}

  		.home__post--excerpt, .home__post--btn,
  		.home__post--title {
  			opacity: 1;
  		}
  	}

  	@media (min-width: 767px) {
  		width: calc(33.3% - 1rem);
  		margin: .5rem;
  		min-height: 250px;
  	}

  	&--title {
  		color: $white;
  		margin-top: 0;
  		font-size: 20px;

  		@media (min-width: 767px) {
  			font-size: 22px;
  		}

  		@media (min-width: 1025px) {
  			opacity: 0;
  		}
  	}

  	&--excerpt {
  		color: $white;
  		font-size: 14px;
  		padding-bottom: 1rem;
  		opacity: 0;

  		@media (max-width: 767px) {
  			display: none;
  		}
  	}

  	&--btn {
  		opacity: 0;

  		@media (max-width: 767px) {
  		 display: none;
  	  }
  	}
  }
}

.mixitup-control-active {
	transition: all ease .3s;
	font-weight: 600;

	&:before {
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-duration: .3s;
		animation-play-state: running;
		animation-fill-mode: forwards;
		animation-name: border-width;
	}

	&:after {
		animation-delay: .3s;
		animation-iteration-count: 1;
		animation-duration: .3s;
		animation-play-state: running;
		animation-fill-mode: forwards;
		animation-name: border-height;
	}

	span {
		&:before {
			animation-delay: .6s;
			animation-iteration-count: 1;
			animation-duration: .3s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-width;
		}

		&:after {
			animation-delay: .9s;
			animation-iteration-count: 1;
			animation-duration: .3s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-height;
		}
	}
}
