/**
 * Instagram
 **/ 

.instagram {

	&__container {
		margin-bottom: 2rem;
	}

	&__title {
		margin-top: 3.75rem;

		@media (min-width: 768px) {
			margin-top: 4.0625rem;
		}
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		overflow: hidden;
		position: relative;
		display: inline-block;

		@media (min-width: 0px) and (max-width: 320px) {
			width: 50%;
		}

		@media (min-width: 320px) and (max-width: 550px) {
			width: 33.3%;
		}

		@media (min-width: 550px) and (max-width: 768px) {
			width: 25%;
		}

		@media (min-width: 768px) {
			width: 12.5%;
		}

		&:hover {
			.instagram__image {
				transform: scale(1.04);
			}
		}

		&:hover::before {
			opacity: 1;
		}
	}

	&__image {
		transform: scale(1.01);
		transition: transform 1s ease;
	}
}