.intro {

	&__col {
		position: relative;

		&--img {
			@media (min-width: 767px) and (max-width: 900px) {
				width: 50%;
			}

			&:before {
				@media (min-width: 767px) {
					width: 285px;
					height: 285px;
					border: .3rem solid $gray;
					content: '';
					position: absolute;
					top: calc(50% - 5rem);
					left: 4rem;
				}
			}

			@media (max-width: 767px) {
				padding-top: 1rem;
				padding-bottom: 1rem;
				display: none;
			}
		}

		&--large {

			.intro__img {

				&--1 {
					z-index: 2;
				}

				&--2 {
					z-index: 3;
				}
			}
		}

		&--border {
			width: 75.1%;
			height: 306px;
			border-top: .3rem solid $gray;
			border-left: .3rem solid $gray;
			content: '';
			position: absolute;
			top: 50%;
			left: 4rem;
			transform: translateY(-50%);
			overflow: hidden;

			@media (max-width: 1024px) {
				width: 100%;
				left: 0;
				top: calc(50% + 2.5rem);
			}

			&--top {
				width: 75.1%;
				height: 306px;
				border-right: .3rem solid $gray;
				border-bottom: .3rem solid $gray;
				content: '';
				position: absolute;
				top: 50%;
				right: 4rem;
				transform: translateY(-50%);
				z-index: 200;

				@media (max-width: 1024px) {
					width: 100%;
					right: 0;
					top: calc(50% + 2.5rem);
				}
			}

			@media (max-width: 767px) {
				padding-top: 1rem;
				padding-bottom: 1rem;
				display: none;
			}
		}

		&--offset {
			position: relative;
			z-index: 1000;

			@media (max-width: 767px) {
				margin-top: 1rem;
			}

			@media (min-width: 767px) and (max-width: 900px) {
				margin-right: 0!important;

				h1 {
					font-size: 26px;
				}
			}

			@media (min-width: 767px) {
				margin-right: 8.33333333%;
				top: -1.5rem;
			}
		}
	}

	&__img {
		position: relative;

		@media (max-width: 500px) {
			width: 100%;
		}

		@media (min-width: 500px) and (max-width: 767px) {
			width: 50%;
		}

		&--1 {
			z-index: 10;

			@media (min-width: 768px) {
				top: 5rem;
			}
		}
		
		&--2 {
			z-index: 0;

			@media (min-width: 767px) {
				left: 0;	
				float: right;
			}
		}
	}

	&__textbox {
		padding: 2rem;
		padding-top: 3rem;

		@media (min-width: 767px) {

		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}

	&__quote {
		color: $gray;
		position: relative;
		padding: 1rem;
		margin-top: 3rem;

		&--text {
			font-size: 16px;

			&:before, &:after {
				content: '“'; 
				position: absolute;
				color: $gray;
				font-size: 3rem;
			}

			&:before {
				top: .5rem;
				left: -.5rem;
				line-height: 1;
			}

			&:after {
				transform: rotate(180deg);
				line-height: 0;
				padding-right: 1rem;
			}
		}

		&--by {
			float: right;
			padding-top: 1.5rem;
		}
	}
}