/********************LAYOUTS********************/

/* Base Styles */
$circle-size: 160px;
$icon-size: 3rem;
$staggered-circle-size: 250px;
$staggered-icon-size: 6rem;
$staggered-row-height: 500px;
$button-color: $black;
$button-hover-color: lighten($black, 8%);
$overlay-color: rgba($black, 0.4);

// .overlay {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   background-color: $overlay-color;
// }

.circle {
  border-radius: 50%;
}

.hero-unit, .flexible-columns, .staggered, .wysiwygs {
  .circle {
    width: $circle-size;
    height: $circle-size;
    background-color: $button-color;
    margin: 0 auto;
    transition-property: background-color, color, opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    i {
      display: block;
      color: $white;
      font-size: $icon-size;
      transition: color 0.25s ease-in-out 0s;
    }

    &.scratch-bg {
      background-color: transparent;
    }
  }
}

/* Hero Unit */
.hero-unit {
  .scratch-bg {
    height: auto;
  }

  .content {
    margin: 10rem auto;

    @include m {
      width: 65%;
    }


    color: $white;
  }

  .left {
    .content {
      float: left;
    }
  }

  .right {
    .content {
      float: right;
    }
  }
}

/* Flexible Columns */
.flexible-columns {
  [class^="row-"], [class*=" row-"] {
    // row-specific styles here

  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here
    padding: 1rem;

    a {
      &:hover, &:focus {
        text-decoration: none;

        .circle {
          background-color: $button-hover-color;

          &.scratch-bg {
            background-color: transparent;
            opacity: 0.8;
          }
        }

        i {
          color: $button-color;
        }
      }
    }
  }
}

/* Staggered Images with Text */
.staggered {
  .row {
    .circle {
      width: $staggered-circle-size;
      height: $staggered-circle-size;

      @include m {
        @include valign;
      }


      i {
        font-size: $staggered-icon-size;
      }
    }

    &:nth-child(odd) {
      background-color: $gray;
    }

    @include m {
      height: $staggered-row-height;

      .first, .last, .wrap {
        height: 100%;

        h3 {
          margin-top: 0;
        }
      }

      &:nth-child(even) {
        .first {
          float: right;
          margin-left: 2.762430939%;
        }

        .last {
          float: left;
          margin-left: 0;
        }
      }
    }
  }
}

/* Slider */
.slider-row {
  .slide-text {
    margin: 0 auto;
    padding: 1rem;
    color: $white;

    @include m {
      padding: 1rem 6rem;
    }
  }
}

.glide {
  /***** Customizations of glide-core *****/
  height: 350px;

  @media (min-width: 567px) {
    height: 500px;
  }

  overflow: hidden;

  .glide__wrapper {
    height: 100%;
  }

  .glide__track {
    padding: 0;
    margin: 0;
  }

  .glide__slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  /***** Customizations of glide-theme *****/
  .glide__bullets {
    margin: 0;
    padding: 0;
  }

  .glide__arrow {
    border: 0;
    padding: 0;
    i {
      font-size: 1.5rem;
    }
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

/* WYSIWYGs */
.section--columns {
  padding: 1.5rem 0rem;

  [class^="row-"], [class*=" row-"] {
    // row-specific styles here
    
    @media (min-width: 768px) {
      margin-left: -15px;
      margin-right: -15px;
    }    
  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here

  }
}

.section--flexible {

  [class^="row-"], [class*=" row-"] {
    // row-specific styles here
    
    margin-left: -1rem;
    margin-right: -1rem;    
  }

  [class^="column-"], [class*=" column-"] {
    text-align: left;
    padding: 1rem;
  }
}


.section--exterior {

  @media (max-width: 768px) {
    .first {
      margin-bottom: 0;
    }

    .column-1, .column-2, .column-3 {
        padding: .4rem 1rem;
    }

    [class^="row-"], [class*=" row-"] {
      padding-bottom: 1rem;
    }
  }

  @media (min-width: 768px) and (max-width: 900px) {
    .flexible__img {
      background-position: center top;
    }
  }

  @media (min-width: 900px) {

    .first > .flexible__img {
      background-position: center left;
    }

    .last > .flexible__img {
      background-position: center right;
    }
  }
}

.section--compressed > .wrap {
  max-width: calc(1100px - 8.233333%);
}

.section--align {
  
  @media (min-width: 767px) {
    .flexible__img {
      background-position: center top;
    }
  }

  @media (max-width: 768px) { 
    .first {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .flexible__title {
      padding-top: 0!important;
    }

    .threecol {
      padding: .5rem 1rem;
    }
  }

  .flexible__title {
    padding-top: rem;
  }
}

.section--short {
  
  .title-hr {
    @media (min-width: 769px) { 
      padding-top: 2rem;
    }
  }

  .wrap {
    @media (min-width: 769px) { 
      position: relative;
      top: 5.5rem;
    }
  }

  .column-2 {
    @media (min-width: 769px) { 
      background: $gray;
    }
  }
}

.section--t-large {
    @media (min-width: 768px) { 
      padding-top: 9.5rem;
    }
}

.section--order {

  [class^="row-"], [class*=" row-"] {
   @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .column-1 {
    order: 2;
  }

  .column-2 {
    order: 1;
  }

  .column-3 {
    order: 3;
  }
}

.section--reverse {

  .column-2 {
    p {
      @media (max-width: 767px) {
        margin-bottom: .8rem;
      }   
    }
  }

  [class^="row-"], [class*=" row-"] {
   @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column-reverse;
    }
  }
}

.section--mobile {

     @media (max-width: 768px) {
      .first {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .flexible__title {
        padding-top: 0!important;
      }

      .threecol {
        padding: .5rem 1rem;
      }
    }


    @media (min-width: 767px) and (max-width: 1024px) {
      .column-1, .column-3,
      .column-5, .column-7 {
        width: 33.3%;
      }

      .column-2, .column-4, 
      .column-6, .column-8 {
        width: 66.5%;
      }

      [class^="row-"], [class*=" row-"] {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @media (min-width: 768px) {
      .flexible__img {
        background-position: center top;
      }
    }
}