.materials {
	background: no-repeat bottom center;
	background-size: cover;
	padding-top: 4rem;

	@media (min-width: 767px) {
		padding-top: 15%;
	}	

	&__container {
		position: relative;

		@media (min-width: 767px) {
			top: 11.5rem;
		}
	}

	&__row {
		@media (min-width: 767px) and (max-width: 1023px) {
			flex-direction: column-reverse;
		}
	}

	&__wrapper {
		flex-direction: column;

		@media (max-width: 767px) {
			width: 100%;
			flex-direction: row;
		}
	}

	&__box {
		padding: 1.5rem;
		z-index: 100;
		position: relative;

		@media (min-width: 767px) {
			padding: 3rem;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}

		.btn {
			display: inline-block;
			margin-top: 1.5rem;

			@media (min-width: 767px) {			
				margin-top: 3rem;
			}
		}

		&--gray {
			color: $gray;
			padding: 1rem;

			@media (max-width: 767px) {
				margin-bottom: 0;
				margin-left: 0!important;
				width: 100%;
			}

			@media (min-width: 767px) and (max-width: 1023px) {
				padding-top: 3rem;
				margin-left: 12.5%!important;
				width: 75%;
			}
		}
	}


	&__title {
		font-weight: 600;
		margin-top: 0;

		@media (min-width: 767px) {
			font-size: 36px;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;
		min-height: 210px;

		@media (max-width: 400px) {
			width: 100%;
		}

		@media (min-width: 400px) and (max-width: 767px) {
			width: 50%;
		}

		@media (min-width: 768px) {
			flex: 1;
		}

		&--1 {
			@media (min-width: 767px) {
				margin-bottom: 1rem;
			}

			@media (min-width: 400px) and (max-width: 767px) {
				padding-right: .5rem;
				background-clip: content-box;
			}
		}

		&--2 {
			@media (min-width: 767px) {
				margin-top: 1rem;
			}

			@media (min-width: 400px) and (max-width: 767px) {
				padding-left: .5rem;
				background-clip: content-box;
			}

		}
	}
}

.nature {
	padding-top: 2.5rem;

	@media (min-width: 767px) {
		padding-top: 8rem;
	}

	@media (min-width: 1024px) {
		padding-top: 12rem;
	}

	&__wrapper {
		@media (max-width: 767px) {
			display: none;
		}

		@media (max-width: 1023px) {
			width: 66.6666667%;
			margin-left: 16.66665%;
		}
	}
}