.modules {
	position: relative;
	padding-top: 6rem;

	@media (min-width: 768px) {
		padding-top: 16rem;
		padding-bottom: 16rem;
	}

	&:before {
		content: '';
		position: absolute;
		width: calc(100% - 16.666666%);
		height: calc(100% - 16rem);
		border: .3rem solid $white;
		left: 50%;
		transform: translateX(-50%);
		max-width: calc(1024px - 6rem);
		top: 3rem;

		@media (min-width: 768px) {
			top: 8rem;
		}

		@media (min-width: 768px) and (max-width: 900px) {
			border: .4rem solid $white;
		}

		@media (min-width: 1100px) {
			border: .5rem solid $white;
		}
	}

	&__heading {
		padding-bottom: 3rem;
		font-weight: 600;
		margin-top: 0;

		@media (min-width: 768px) {
			font-size: 36px;
		}
	}

	&__intro {
		padding-bottom: 0;
		padding-top: 1.5rem;
		line-height: 1.5;
		float: none;

		@media (min-width: 768px) {
			padding-bottom: 3rem;
			font-size: 22px;
			float: left;
		}
	}

	&__item {
		position: relative;

		&--right {
			flex-direction: row-reverse;

			@media (min-width: 768px) {
				display: flex;
			}

			.modules__img {
				left: 0;

				@media (min-width: 768px) {
					padding-right: 1rem;
					padding-left: 2rem;
				}
			}
		}
	}

	&__desc {
		padding: 1.5rem;

		@media (min-width: 768px) {
			padding: 3rem;
		}

		&--btn {
			margin-top: 1.5rem;
			display: inline-block;
		}
	}

	&__title {
		margin-top: 3rem;

		@media (min-width: 768px) {
			font-size: 28px;
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;
		background-clip: content-box;
		min-height: 350px;

		@media (min-width: 768px) {
			top: -5%;
			position: absolute;
			right: 0;
			height: 110%;
			padding-right: 2rem;
		}
	}
}