.mosaic {

	@media (max-width: 768px) {
		padding-top: 1.5rem;
	}

	&__whitespace {
		margin-bottom: 1rem;

		@media (max-width: 767px) {
			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: 767px) {
			margin: .5rem;
		}
	}

	&__box {
		padding: 1rem;

		@media (min-width: 767px) {
			padding: 6rem 3rem;
		} 

		@media (min-width: 767px) and (max-width: 900px) {
			padding: 4rem 3rem;
		}

		&--middle {
			align-self: center;
			padding: 2rem;

			@media (max-width: 767px) {
				width: 100%;
			}

			@media (min-width: 767px) and (max-width: 900px) {
				align-self: flex-end;
			}

			@media (min-width: 767px) {
				margin-left: .5rem;
			}

		}

		&--start {
			align-self: flex-start;

			@media (min-width: 767px) and (max-width: 900px) {
				width: 41.6666667%;
				margin-left: 0!important;
			}
		}

		&--small {
			padding: 1rem;
			width: 100%;
			font-size: 14px;

			strong {
				display: block;
			}

			@media (min-width: 767px) and (max-width: 900px) {
				width: calc(33.33333% - .5rem);
			}
			
			@media (min-width: 900px) {
				width: calc(16.6666667% - .5rem);
			}
		}

		&--large {
			@media (min-width: 767px) and (max-width: 900px) {
				width: 50%;
			}
		}
	}

	&__img {
		background: no-repeat center center;
		background-size: cover;
		min-height: 280px;
		width: 100%;

		@media (min-width: 767px) {
			width: calc(33.3333333% - 1rem);
		}

		&--offset {

			@media (min-width: 900px) {
				margin-top: -5rem;
				margin-left: .5rem;
			}
			
			@media (min-width: 767px) and (max-width: 900px) {
				width: calc(33.33333% - 1.5rem);
			}

			@media (min-width: 900px) {
				width: calc(50% - 1.5rem);
			}
		}
	}

	&__wrap {
		@media (min-width: 767px) and (max-width: 900px) {
			margin-left: 0!important;
		}
	}

	.gray-dark--bg, .green-dark--bg, .green--bg {

		@media (max-width: 767px) {
			padding: 2rem;
			padding-top: 3rem;
		}
	}
}