/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/


	&--mobile {
	
		position: fixed;
		z-index: 78888;
		top: 72px;
		right: 0;
		height: calc(100% - 72px);
		width: 100%;
		transform: translateX(100%);
		transition: all .6s ease;
		background: $white;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		@media (min-width: 768px) {
			width: 24.5rem;
			top: 95px;
			height: calc(100% - 95px);
		}

		&.is-open {
			transform: translateX(0);
		}

		// Set body to fixed
		@at-root {
			body.is-fixed {
				@media (max-width: 768px) {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;
				}
			}
		}	
	}


	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		&__label {
			color: $black;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
					background: $black;
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
					background: $black;
				}
			}
		}
	}
}