/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php
 */

.page {
    
    &__header {

    	@media (min-width: 768px) {
    		padding-top: 5rem;
    		padding-bottom: 5rem;
    	}

    	&--blank {
    		@media (min-width: 768px) {
    			padding-top: 8rem;
    			padding-bottom: 8rem;
    		}    		
    	}
    }

    &__title {
    	padding-left: 0;
    	padding-right: 0;
    	line-height: 1.3;
    	font-weight: 600;

    	@media (max-width: 768px) {
    		font-size: 24px;
    	}
    }
}
