.process {

	&__heading {
		padding-bottom: 1rem;

		@media (max-width: 768px) {
			margin-top: 0;
		}
	}

	&__row {
		@media (min-width: 768px) {
			margin-left: -.5rem;
			margin-right: -.5rem;
		}
	}

	&__item {
		padding: 1.5rem;
		font-size: 14px;

		@media (max-width: 768px) {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: 768px) and (max-width: 950px) {
			width: calc(33.3% - 1.02rem); 
			margin: .5rem;
		}

		@media (min-width: 950px) {
			width: calc(25% - 1.02rem);
			margin: .5rem;
		}
	}

	&__title {
		margin-top: 0;
	}
}