.showcase {

	&__blueprint {
		@media (min-width: 768px) and (max-width: 900px) {
			width: 100%;
		}
	}

	&__list {
		list-style: none;
		padding-top: 1.5rem;

		@media (max-width: 768px) {
			padding-left: 0;
		}

		&--item {
			position: relative;
			padding-left: 1.5rem;
			color: $black;

			&:before {
				content: '';
				position: absolute;
				width: .6rem;
				height: .6rem;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&.green {

				&:before {
					background: $green;
				}
			}

			&.green-dark {

				&:before {
					background: $green-dark;
				}
			}


			&.grey-dark {
				
				&:before {
					background: $gray-dark;
				}
			}

			&.grey {
				
				&:before {
					background: $gray;
				}
			}
		}
	}

	&__addons {
		padding: 1.5rem;

		strong {
			padding-right: .5rem;
		}

		@media (min-width: 900px) {
			padding: 4rem;
		}

		@media (min-width: 768px) and (max-width: 900px) {
			width: 100%;
			padding: 2rem;
			margin-left: 0!important;
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
	}

	&__sketches {
		@media (min-width: 768px) and (max-width: 900px) {
			width: 100%;
		}
	}
}