.slider {
	position: relative;

	&__container {

		&--showcase {
			@media (max-width: 767px) {
				padding: 0;
			}
		}
	}

	&__item {
		list-style: none;
		padding-bottom: 20rem;
		background: no-repeat center center;
		background-size: cover;

		@media (min-width: 767px) {
			padding-bottom: 40rem;
		}

		@media (min-width: 900px) {
			padding-bottom: 42.5rem;
		}

		@media (min-width: 1100px) {
			padding-bottom: 45rem;
		}
	}

	&__caption {
		z-index: 100;
		color: $white;
		pointer-events: none;
		position: absolute;
    	transform: translateY(-50%);
    	top: 50%;
    	font-size: 28px;

		@media (min-width: 767px) {
			font-size: 36px;
			font-weight: 600;
			width: 100%;
		}
		
		&--showcase {
			pointer-events: none;
    		z-index: 1;
    		position: relative;
    		top: 0;
    		transform: translateY(0);

    		@media (min-width: 768px) {
    			position: absolute;
    			transform: translateY(-50%);
    			top: 50%;
    			min-height: 30rem;
    		}

    		@media (min-width: 900px) {
				min-height: 32.5rem;
			}

			@media (min-width: 1100px) {
				min-height: 35rem;
			}
		}
	}

	&__text {
		line-height: 1.5;
		position: relative;
		padding: 0;

		&:before {
			height: .3rem; 
			width: 0%;
			position: absolute;
			top: 0;
			left: 0;
			background: $white;
			content: '';
			z-index: 100;
		}

		&:after {
			height: 0;
			width: .3rem;
			position: absolute;
			right: 0;
			top: 0;
			background: $white;
			content: '';
			z-index: 100;
		} 

		@media (min-width: 767px) and (max-width: 900px) {
			width: auto;
		}
	}

	&__title {
		line-height: 1.1;
		font-weight: 600;
		padding: 2rem;
		padding-bottom: 3rem;
		position: relative;
		margin-bottom: 0;

		&:before {
			width: .3rem; 
			height: 0%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $white;
			content: '';
			z-index: 100;
		}

		&:after {
			height: .3rem;
			width: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			background: $white;
			content: '';
			z-index: 100;
		}
	}

	&__factbox {
		font-size: 14px;
		font-weight: 400;
		padding: 2rem;
		pointer-events: auto;
		position: relative;

		p:last-of-type {
			margin-bottom: 0;
		}

		&--gray-dark {
			background: rgba($gray-dark, .9);
		}

		&--green-dark {
			background: rgba($green-dark, .9);
		}

		&--green {
			background: rgba($green, .9);
		}

		@media (max-width: 767px) {
			padding: 2rem 1rem;
		}

		@media (min-width: 767px) and (max-width: 900px) {
			width: 50%;
		}

		@media (min-width: 900px) {
			width: 33.33%;
		}

		&.active {
		
		}

		&--title {
			font-size: 28px;
			font-weight: 400;
			margin-top: 0;
		}
	}
}


.fire {

	.slider__text {
		
		&:before {
			animation-iteration-count: 1;
			animation-duration: .6s;
			animation-delay: 3s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-width;
		}


		&:after {
			animation-delay: 3.6s;
			animation-iteration-count: 1;
			animation-duration: .6s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-height;
		}
	}

	.slider__title {

		&:before {
			animation-delay: 4.8s;
			animation-iteration-count: 1;
			animation-duration: .6s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-height;
		}

		&:after {
			animation-delay: 4.2s;
			animation-iteration-count: 1;
			animation-duration: .6s;
			animation-play-state: running;
			animation-fill-mode: forwards;
			animation-name: border-width;
		}

	}
}

@keyframes border-width {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes border-height {

  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1000;
		width: 100%;
	}

	.owl-prev,
	.owl-next {
		font-size: 3rem;
		position: absolute;
		z-index: 1000;
		background: transparent;
		color: $white;
		line-height: 0;
		transform: translateY(-50%);
		font-weight: 100;

		@media (min-width: 767px) {
			font-size: 5rem;
		}
	}

	.owl-prev {
		left: 1.5rem;
	}

	.owl-next {
		right: 1.5rem;
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}


.toggle-acc, .toggle-acc--popup {
	font-weight: 600;
	font-size: 12px;
	position: relative;
	padding-left: 3rem;

	@media (max-width: 767px) {
		display: none!important;
	}

	&:hover {
		cursor: pointer; 
	}

	&:hover::before {
		color: $gray; 
	}

	&:hover::after {
		background: $white; 
	}

	&:after {
		width: 35px;
		height: 32px;
		border: 2px solid $white;
		content: '';
		position: absolute;
		left: -1px;
		transform: translateY(-50%);
		top: 50%;
		transition: all ease .3s;
	}

	&:before {
		content: '\f2d7';
		font-family: 'ionicons';
		position: absolute;
		left: 4px;
		top: 50%;
		transform: translateY(-50%) rotate(225deg);
    	padding: 0.7rem .4rem;
    	line-height: .4;
		font-size: 1.4rem;
		font-weight: 100;
		display: block;
		transition: all ease .5s;
		z-index: 10;
	}

	&.active {

		&:before {
			content: '\f2d7';
			font-family: 'ionicons';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
	    	padding: 0.6rem;
	    	line-height: .4;
			font-size: 1.4rem;
			font-weight: 100;
		}
	}

	&--popup {
		font-size: 16px;
		font-weight: 500;
		padding-left: 2.5rem;
		display: flex;

		&.active {
			text-decoration: underline;
		}

		&:before, &:after {
			display: none;
		}
	}
}

.accordion, .accordion--popup {

	@media (min-width: 767px) {
		padding-top: 1rem;
	}

	span {
		float: right;
	}
}

.accordion {

	&--popup {
    	width: 0; 
		padding-top: 0;
		font-size: 24px;
		padding-left: 1rem;
    	background: no-repeat bottom right $green-dark;
    	background-blend-mode: multiply;
    	bottom: -.5rem;
    	position: relative;
    	transition: all ease .8s;
    	height: 0;
    	opacity: 0;

    	&.show {
    		padding-top: 2.4rem;
    		padding-bottom: 2.4rem;
    		opacity: 1;
    		width: 338px;
    		height: 250px;

			@media (max-width: 768px) {
				width: 260px; 
			}
    	}

		p {
			margin-bottom: .5rem;
		}

		a {
			font-size: 16px;
			padding-bottom: 1rem;
		}
	    
    	.show {
			min-width: auto;
	    	min-height: auto;
	    	display: block;	
    	}
	}

	&__wrap {
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}
}