.testimonial {
	background: no-repeat bottom center $gray-dark;
	background-blend-mode: multiply;
	background-size: cover;
	padding-top: 4rem;
	padding-bottom: 4rem;

	@media (max-width: 768px) {
		display: none;
	}

	@media (min-width: 1025px) {
		background-attachment: fixed;
	}

	@media (min-width: 900px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@media (min-width: 1200px) {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	&__heading {
		margin-top: 0;
		font-weight: 600;
		padding-bottom: 1rem;

		@media (min-width: 768px) and (max-width: 900px)  { 
			margin-left: 0;
			float: none;
		}

		@media (min-width: 900px)  {
			font-size: 36px;
		}
	}

	&__wrapper {
		flex-direction: column;
		flex: 1;

		@media (min-width: 768px) and (max-width: 900px)  {
			width: 100%;
			margin-left: 0!important;
			padding: 0;
		}

		.testimonial__item {
			width: 100%;
			margin-left: 0!important;

			@media (min-width: 900px) {

				&:first-child {
					margin-bottom: 5rem;
				}

				&:last-child {
					margin-top: 5rem;
				}
			}
		}
	}

	&__item {
		position: relative;
		padding: 1rem;

		&:after {
			position: absolute;
			top: 0rem;
			right: 1rem;
			content: '“';
			transform: rotate(-180deg);
			font-size: 4rem;
			line-height: 0;
		}

		@media (max-width: 900px)  {
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: 768px) and (max-width: 900px)  {
			width: 100%;
			margin-left: 0!important;
		}

		@media (min-width: 900px)  {
			padding: 3rem;
			padding-left: 6rem;
		}

		.btn {
			display: inline-block;
			margin-top: 3rem;
		}

		&--single {
			@media (min-width: 767px) and (max-width: 900px)  {
      			width: 41.6666667%;
				margin-left: 30%!important;
				margin-top: 5rem;
				padding: 3rem;
				padding-left: 6rem;
			}
		}
	}

	&__title {
		margin-top: 0;
	}

	&__quote {
		display: block;
	}

	&__img {
		@media (min-width: 900px)  {
			position: absolute;
			left: -5rem;
			top: -3.5rem;
		}

		&--single {  
			@media (min-width: 767px) and (max-width: 900px)  { 
				position: absolute!important;
				left: -5rem;
				top: -3.5rem;
			}
		}
	}
}