.video {
	position: relative;
	z-index: 1;
	height: 25rem;
	background: no-repeat center center;
	background-size: cover;

	@media (max-width: 767px) {
		margin-top: 0!important;
		margin-bottom: 0!important;
	}
	

	@include m {
		height: 35rem;
	}

	@media (min-width: 1400px) {
		height: 40rem; 
	}

	@media (min-width: 1800px) {
		height: 50rem;
	}

	&__wrap {
		position: relative;
		z-index: 2;
		overflow: hidden;
	}

	&__hero {
		position: absolute;
		z-index: -100;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__inner {
		position: relative;
		z-index: 300;
		font-size: 22px;
		top: 50%;
		transform: translateY(-50%);
		color: $white;
		text-align: center;

		@include m {
			font-size: 33px;
		}
	}

	&__text {
		display: inline-block;
		padding: 1rem;
		font-weight: 600;
		line-height: 1.1;
		margin-bottom: 0;
	}
}	
