/* Color classes (modify as needed) */

$colors: "green" $green, "green-dark" $green-dark, "white" $white, "gray" $gray, "gray-dark" $gray-dark, "silver" $silver, "black" $black;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value;
  }
}


.gray--bg, .gray-dark--bg, 
.green--bg, .green-dark--bg,
.black--bg {
	color: $white;
}

.overlay {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 10;
		transition: all ease .3s;
	}
	
	
	&--gray--bg {
		&:before {
			background: $gray;
		}
	}

	&--gray-dark--bg {
		&:before {
			background: $gray-dark;
		}
	}

	&--green--bg {
		&:before {
			background: $green;
		}
	}

	&--green-dark--bg {
		&:before {
			background: $green-dark;
		}
	}
}