/********************GRID-ALWAYS*********************/

.onecol-always {
  width: 5.801104972%;
}

.twocol-always {
  width: 14.364640883%;
}

.twoptfourcol-always {
  width: 17.73757%;
}

.threecol-always {
  width: 22.928176794%;
}

.fourcol-always {
  width: 31.491712705%;
}

.fivecol-always {
  width: 40.055248616%;
}

.sixcol-always {
  width: 48.618784527%;
}

.sevencol-always {
  width: 57.182320438000005%;
}

.eightcol-always {
  width: 65.74585634900001%;
}

.ninecol-always {
  width: 74.30939226%;
}

.tencol-always {
  width: 82.87292817100001%;
}

.elevencol-always {
  width: 91.436464082%;
}

.twelvecol-always {
  width: 99.999999993%;
}



//offset
.halfcol-offset-always {
  margin-left: 4.15%;
}

.onecol-offset-always {
  margin-left: 8.33333333%;
}

.twocol-offset-always {
  margin-left: 16.6666667%;
}

.threecol-offset-always {
  margin-left: 25%;
}

.fourcol-offset-always {
  margin-left: 33.3333333%;
}

.fivecol-offset-always {
  margin-left: 41.6666667%;
}

.sixcol-offset-always {
  margin-left: 50%;
}

.sevencol-offset-always {
  margin-left: 58.3333333%;
}

.eightcol-offset-always {
  margin-left: 66.6666667%;
}

.ninecol-offset-always {
  margin-left: 75%;
}

.tencol-offset-always {
  margin-left: 83.3333333%;
}

.elevencol-offset-always {
  margin-left: 91.6666667%;
}

.twelvecol-offset-always {
  margin-left: 100%;
}

// layout & column defaults
.onecol-always,
.twocol-always,
.twoptfourcol-always,
.threecol-always,
.fourcol-always,
.fivecol-always,
.sixcol-always,
.sevencol-always,
.eightcol-always,
.ninecol-always,
.tencol-always,
.elevencol-always,
.twelvecol-always {
  position: relative;
  float: left;
}

.first-always {
  margin-left: 0;
}

.last-always {
  float: right;
}

/* Custom Grid Styles */
.custom-col {
  position: relative;

  @media (min-width: 649px) {
    float: left;
    width: 50%;

    &.even {
      float: right;
    }
  }

  @media (min-width: 899px) {
    width: 33.333333333%;

    &.even {
      float: left;
    }

    &.three-last {
      float: right;
    }
  }

  @media (min-width: 1149px) {
    width: 25%;

    &.three-last {
      float: left;
    }

    &.four-last {
      float: right;
    }
  }
}
