/********************GRID*********************/

.onecol {
   width: 8.33333333%;
}

.twocol {
  width: 16.6666667%;
}

.threecol {
  width: 25%;
}

.fourcol {
  width: 33.3333333%;
}

.fivecol {
  width: 41.6666667%;
}

.sixcol {
  width: 50%;
}

.sevencol {
  width: 58.3333333%;
}

.eightcol {
  width: 66.6666667%;
}

.ninecol {
  width: 75%;
}

.tencol {
  width: 83.3333333%;
}

.elevencol {
  width: 91.6666667%;
}

.twelvecol {
  width: 100%;
}


//offset
.halfcol-offset {
  margin-left: 4.15%!important;
}

.onecol-offset {
  margin-left: 8.23333333%!important;
}

.twocol-offset {
  margin-left: 16.6666667%!important;
}

.threecol-offset {
  margin-left: 25%!important;
}

.fourcol-offset {
  margin-left: 33.3333333%!important;
}

.fivecol-offset {
  margin-left: 41.6666667%!important;
}

.sixcol-offset {
  margin-left: 50%!important;
}

.sevencol-offset {
  margin-left: 58.3333333%!important;
}

.eightcol-offset {
  margin-left: 66.6666667%!important;
}

.ninecol-offset {
  margin-left: 75%!important;
}

.tencol-offset {
  margin-left: 83.3333333%!important;
}

.elevencol-offset {
  margin-left: 91.6666667%!important;
}

.twelvecol-offset {
  margin-left: 100%!important;
}

// layout & column defaults
.onecol,
.twocol,
.twoptfourcol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  padding: 0rem 15px;
}

// layout & column defaults
.onecol-offset,
.twocol-offset,
.twoptfourcol-offset,
.threecol-offset,
.fourcol-offset,
.fivecol-offset,
.sixcol-offset,
.sevencol-offset,
.eightcol-offset,
.ninecol-offset,
.tencol-offset,
.elevencol-offset,
.twelvecol-offset {
  position: relative;
  float: left;
}

.first {
 
}

.last {
  float: right;
}