.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.row {
  // margin-left: -15px;
  // margin-right: -15px;
  @extend .clearfix;

	&--flex {
		@extend .flex;		
		@extend .clearfix;
	}

	&--offset {
		@media (min-width: 768px) {
			margin-left: -15px;
  			margin-right: -15px;
		}
	}
}


.padding {

	&--top {
		padding-top: 2.5rem!important;
	}
	
	&--bottom {
		padding-bottom: 2.5rem!important;
	}

	&--both {
		padding-top: 2.5rem!important;
		padding-bottom: 2.5rem!important;
	}

	@media (min-width: 767px) {

		&--top {
			padding-top: 6.5rem!important;
		}

		&--bottom {
			padding-bottom: 6.5rem!important;
		}

		&--both {
			padding-top: 6.5rem!important;
			padding-bottom: 6.5rem!important;
		}
	}
}

.margin {

	&--top {
		margin-top: 2.5rem!important;
	}
	
	&--bottom {
		margin-bottom: 2.5rem!important;
	}

	&--both {
		margin-top: 2.5rem!important;
		margin-bottom: 2.5rem!important;
	}

	@media (min-width: 767px) {

		&--top {
			margin-top: 6.5rem!important;
		}

		&--bottom {
			margin-bottom: 6.5rem!important;
		}

		&--both {
			margin-top: 6.5rem!important;
			margin-bottom: 6.5rem!important;
		}
	}
}

.border {

	&--black {
		border-color: $black;
		border: 0rem solid;

		@media (min-width: 768px) {
			border: .3rem solid;
		}
	}

	&--white {
		border-color: $white!important;
		border: .3rem solid;

		@media (min-width: 768px) {
			border: .3rem solid;
		}
	}

	&--gray {
		border-color: $gray!important;
		border: .3rem solid;

		@media (min-width: 768px) {
			border: .3rem solid;
		}
	}
}

.btn {
	border: 3px solid;
	padding: .3rem 1rem;
	transition: all ease .3s;
	
	&--white {
		border-color: $white;
		color: $white;

		&:hover {
			background: $white;
			color: $black;
		}
	}

	&--black {
		border-color: $black;

		&:hover {
			background: $black;
			color: $white;
		}
	}

	&--nb {
		font-size: 14px;
		color: $white;
	}

	&--close {
		margin-top: 3rem;
		display: inline-block;
	}
}

.title-hr {
	padding-bottom: 2rem;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;

	strong {
		font-weight: 600;

		@media (min-width: 768px) {
			font-size: 36px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 1rem;
		width: 30px;
		height: 2px;
		background: $black;
	}	

	&--white {
		color: $white;

		&:before {
			background: $white;
		}
	}

	&--gray {
		 color: $gray;

		&:before {
			background: $gray;
		}
	}

	&--center {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.first {
	margin-bottom: 1.5rem;

	@media (min-width: 768px) {
		margin-bottom: 0;
	}
}

.mobile-detection {
    height: 100vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background: rgba($white, .95);
    z-index: 999999;
    transition: all ease .3s;

	@media (min-width: 767px) {
		display: none;
	}


	&__modal {
		text-align: center;

		p {
			margin-bottom: 0;
		}
	}
}

.is-closed {
	display: none;
}