/********************TYPOGRAPHY********************/
// Headings

h1, h2, h3, h4, h5, h6 {

}

h1, .h1 {
	font-size: 26px;

	@media (min-width: 768px) {
		font-size: 36px;
	}
}

h2, .h2 {
	font-size: 22px;
	font-weight: 400;

	@media (min-width: 768px) {
		font-size: 28px;
	}
}

h3, .h3 {
	font-size: 18px;
	font-weight: 400;

	@media (min-width: 768px) {
		font-size: 24px;
	}
}

h4, .h4 {
	font-size: 16px;
}

h5, .h5 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}

h6, .h6 {
	font-size: 16px;
}


// Miscellaneous typographic tags
em {
	font-style: italic;
}

i {
	font-style: normal;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;

	//mixitup fix
	&:not(.mix) {
		transition: all .3s ease;
	}
}

.fz-sm {
	font-size: 14px;
}